<html>
  <head>
    <title>About Kelly</title>
  </head>
  <body>
    <a href="/">Home</a>
      <h1>About</h1>
      <img src="self.jpg" width="625"/>
      <p>
        Hello! I'm currently a student at Ada Developers Academy in Seattle.  Previously I worked in Los Angeles at an e-commerce startup. I grew up in southeastern Massachusetts, attended college in Providence, RI, and lived in Boston for two years after college before moving to LA.  I love Boston Terriers, yoga, and dancing to hip-hop and gangsta rap.
      </p>
      <img src="dog.jpg" width="625"/>
  </body>
</html>
