  <body>
    <div class="home_link">
      <a href="/">Home</a>
    </div>
      <h1 class="page_headings">Blog</h1>
      <h2 id="blog_series_title">Brunch Series</h2>
      <img id="brunch_gif" src="brunch.gif"/>
      <p id="blog_series_text">
        Any proper brunch includes <%= "at least".upcase %>: an egg dish, home fries, and coffee.
        This is a 3-part blog series explaining how to make each component.
      </p>
    <article>
      <h3 id="blog_title">Part 1: Prepare the Home Fries</h3>
      <h5 id="date">October 26, 2015</h5>
      <img id="nom_gif" src="nomnomnom.gif" />
      <p class="blog_entry_content">
        Start with the home fries! Home fries have the longest prep time and are crucial to the success of your brunch.
      </p>
        <ol class="blog_entry_content">
          <li>Preheat the oven to 350 degrees.</li>
          <li>Wash the potatoes.</li>
          <li>Cut the potatoes into home fry wedges.</li>
          <li>Cut the onions into ~3" pieces.</li>
          <li>Smash the garlic, remove skin, and chop.</li>
          <li>Put everything together on a baking sheet.</li>
          <li>Pour some olive oil on the pan (enough to cover all potato slices).</li>
          <li>Sprinkle sea salt to your liking.</li>
          <li>Mix everything together with your hands.</li>
          <li>Put baking sheet in oven.</li>
          <li>Monitor potatoes carefully. Mix them up every 7 minutes or so.</li>
          <li>Once they start to get soft, you can increase the temp to 425 and let them get crispy.</li>
        </ol>
        <img id="potato_gif" src="potato.gif"/>
        <p class="blog_entry_content">
          Remove baking sheet when potatoes look ready.  Find your inner potato master!
        </p>
    </article>
  </body>
