<html>
  <head>
    <title>Kelly's Blog</title>
  </head>
  <body>
    <a href="/">Home</a>
    <h1>Blog</h1>
    <header>
      <h2>Brunch Series</h2>
      <img src="brunch.gif"/>
      <p>
        Any proper brunch includes at least: an egg dish, home fries, and coffee.
        This is a 3-part blog series in which I explain how to make each component.
      </p>
    </header>
    <article>
      <h3>Part 1: Prepare the Home Fries</h3>
      <img src="nomnomnom.gif" />
      <h5>October 26, 2015</h5>
      <p>
        Home fries notoriously have the longest prep time and are crucial to the success of your brunch.
      </p>
        <ol>
          <li>Preheat the oven to 350 degrees.</li>
          <li>Wash the potatoes.</li>
          <li>Cut the potatoes into home fry wedges.</li>
          <li>Cut the onions into ~3" pieces.</li>
          <li>Smash the garlic, remove skin, and chop.</li>
          <li>Put everything together on a baking sheet.</li>
          <li>Pour some olive oil on the pan (enough to cover all potato slices).</li>
          <li>Sprinkle sea salt to your liking.</li>
          <li>Mix everything together with your hands.</li>
          <li>Put baking sheet in oven.</li>
          <li>Monitor potatoes carefully. Mix them up every 7 minutes or so.</li>
          <li>Once they start to get soft, you can increase the temp to 425 and let them get crispy.</li>
        </ol>
        <img src="potato.gif"/>
        <p>
          Remove baking sheet when potatoes look ready.  I don't know how long it will take.
          Find your inner potato master!
        </p>
    </article>
  </body>
</html>
