<html>
  <head>
    <title>Kelly's Website</title>
    <link href="css/formatting.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <h1>Kelly's Website</h1>
    </header>
    <h2>Welcome!</h2>
    <h3>Navigation Menu</h3>
    <nav>
      <ul>
        <li><a href="about.html">About</a></li>
        <li><a href="projects.html">Projects</a></li>
        <li><a href="blog.html">Blog</a></li>
      </ul>
    </nav>
    <p>
      _____________________
    </p>
    <p id="pic_heading">
      Here's a sweet pic of Utah!
    </p>
    <img src="utah.jpg" width="400"/>
    <footer>
      © 2015
    </footer>
  </body>
</html>
