  <body>
    <nav>
      <div class="navigation_links">
        <a href="about.html">About</a>
      </div>
      <div class="navigation_links">
        <a href="projects.html">Projects</a>
      </div>
      <div class="navigation_links">
        <a href="blog.html">Blog</a>
      </div>
    </nav>
    <h2>Welcome!</h2>
    <p id="pic_heading">
      Here's a sweet pic of Utah!
    </p>
    <img src="utah.jpg" width="400"/>
  </body>
