<html>
  <head>
    <title>Kelly's Website</title>
  </head>
  <body>
    <h1>Kelly's Website</h1>
    <h2>Welcome!</h2>
    <h3>Navigation Menu</h3>
    <nav>
      <ul>
        <li><a href="about.html">About</a></li>
        <li><a href="projects.html">Projects</a></li>
        <li><a href="blog.html">Blog</a></li>
      </ul>
    </nav>
    <p>
      _____________________
    </p>
    <p>
      Here's a sweet pic of Utah!
    </p>
    <img src="utah.jpg" width="400"/>
  </body>
</html>
