<html>
  <head>
    <title><%= @title %></title>
    <link href="css/formatting.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <h1>Kelly's Website</h1>
    </header>
    <%= yield %>
    <footer>
      © <%= Time.now.year %>
    </footer>
  </body>
</html>
