<html>
  <head>
    <title><%= @title %></title>
    <link href="css/formatting.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <h1>Kelly's Website</h1>
    </header>
    <nav>
      <div class="navigation_links">
        <a href="/">Home</a>
      </div>
      <div class="navigation_links">
        <a href="about.html">About</a>
      </div>
      <div class="navigation_links">
        <a href="projects.html">Projects</a>
      </div>
      <div class="navigation_links">
        <a href="blog.html">Blog</a>
      </div>
    </nav>
    <%= yield %>
    <footer>
      © <%= Time.now.year %>
    </footer>
  </body>
</html>
