<html>
  <head>
    <title>Kelly's Projects</title>
  </head>
  <body>
    <a href="/">Home</a>
    <h1>Projects</h1>
    <table border="1">
      <thead>
        <tr>
          <th colspan="2">
            Ada Individual Projects
          </th>
        </tr>
        <tr>
          <th>
            Title
          </th>
          <th>
            Description
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <a href="https://gist.github.com/Kedevlin/30f344160c29bf83c106" target="_blank">Random-Menu</a>
          </td>
          <td>
            Creates random food menu.
          </td>
        </tr>
        <tr>
          <td>
            <a href="https://gist.github.com/Kedevlin/05b8fe3a80717bac387f" target="_blank">Calculator</a>
          </td>
          <td>
            Performs simple arithmetic.
          </td>
        </tr>
        <tr>
          <td>
            <a href="https://github.com/Kedevlin/Solar-System/tree/KED/master" target="_blank">Solar-System</a>
          </td>
          <td>
            A planetary system.
          </td>
        </tr>
        <tr>
          <td>
            <a href="https://github.com/Kedevlin/BankAccounts/tree/KED/master" target="_blank">BankAccounts</a>
          </td>
          <td>
            Models account structure of a bank.
          </td>
        </tr>
        <tr>
          <td>
            <a href="https://github.com/Ada-C4/FarMar/tree/KED/master" target="_blank">FarMar</a>
          </td>
          <td>
            Retrieves info about farmers markets.
          </td>
        </tr>
      </tbody>
    </table>
    <p></p>
    <img src="program.GIF" width="355"/>
  </body>
</html>
