body {
  width: 960px;
  margin: auto;
  background-color: rgb(203, 239, 254);
}

header {
  color: rgb(77, 0, 152);
  background-color: rgb(247, 228, 118);
  text-align: center;
  font-family: fantasy, sans-serif;
  margin: 1px;
  padding: 1px;
}

li {
  color: rgb(0, 0, 153);
}

p {
  color: rgb(0, 0, 153);
}

footer {
  margin-top: 40;
  padding: 20;
  text-align: center;
  border-top: thick double #ff0000;
  border-color: rgb(77, 0, 152);
  background-color: rgb(247, 228, 118);
}

.page_headings {
  font-family: cursive, sans-serif;
  color: rgb(102, 0, 51);
}

#pic_heading {
  text-indent: 110px;
}

.home_link {
  margin: 5 0;
}

#blog_series_title {
  font-family: Impact, sans-serif;
}

#blog_title {
  font-family: "Courier New", sans-serif;
}

h2 {
  font-family: "Comic Sans MS", sans-serif;
}

h3 {
  font-family: Arial, sans-serif;
}

h5 {
  font-style: italic;
}
