body {
  width: 960px;
  margin: auto;
}

header {
  color: rgb(57, 210, 245);
  background-color: rgb(38, 69, 77);
  text-align: center;
  margin-bottom: 5%;
  margin-top: 3%;
  padding: 1px;
  font-family: Verdana, Geneva, sans-serif;
}

footer {
  margin-top: 15%;
  padding: 20;
  text-align: center;
  border-top: thick double rgb(57, 210, 245);
  color: rgb(57, 210, 245);
  background-color: rgb(38, 69, 77);
  font-family: Verdana, Geneva, sans-serif;
}

.home_link {
  margin: 3% 0;
}

.navigation_links {
  display: inline-block;
  margin: 5;
}

#welcome {
  color: rgb(38, 69, 77);
  margin: 5%;
  font-family: Arial, Helvetica, sans-serif;
}

#utah_pic_heading {
  text-indent: 150px;
  color: rgb(38, 69, 77);
  margin-bottom: 3%;
  font-family: Arial, Helvetica, sans-serif;
}

#utah_pic {
  margin-left: 5%;
}

.page_headings {
  color: rgb(38, 69, 77);
  text-shadow: 2px 2px rgb(57, 210, 245);
  margin: 5%;
  font-family: Verdana, Geneva, sans-serif;
}

#blog_series_title {
  color: rgb(38, 69, 77);
  margin: 7% 5%;
  font-family: Arial, Helvetica, sans-serif;
}

#brunch_gif {
  margin: 3% 22% 5% 23%;
}

#blog_series_text {
  margin: 0% 25% 10% 23%;
  color: rgb(38, 69, 77);
  font-family: Arial, Helvetica, sans-serif;
}

#blog_title {
  color: rgb(38, 69, 77);
  text-decoration: underline;
  margin: 2% 10%;
  font-family: Arial, Helvetica, sans-serif;
}

#date {
  color: rgb(38, 69, 77);
  font-style: italic;
  margin: 0% 10% 5%;
  text-indent: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

#nom_gif {
  margin: 0% 13% 1%;
}

.blog_entry_content {
  margin: 5% 13% 3%;
  color: rgb(38, 69, 77);
  font-family: Arial, Helvetica, sans-serif;
}

#potato_gif {
  margin: 3% 20% 1%;
}

table {
  margin: 10% 25%;
  width: 500px;
  color: rgb(38, 69, 77);
  font-family: Arial, Helvetica, sans-serif;
}

#table_title {
  background-color: rgb(57, 210, 245);
}

th {
  padding: 4%;
  text-align: center;
}

td {
  padding: 2%;
  text-indent: 30px;
}

#program_gif {
  margin: 5% 33% 10%;
}

.about_pics {
  margin: 5% 20%;
}

#about_text {
  margin: 3% 27% 3% 20%;
  color: rgb(38, 69, 77);
  font-family: Arial, Helvetica, sans-serif;
}
